<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JobScrapper</title>
  </head>
  <body>
    <hr />
    <pre>
             ██╗ ██████╗ ██████╗ ███████╗ ██████╗██████╗  █████╗ ██████╗ ██████╗ ███████╗██████╗ 
             ██║██╔═══██╗██╔══██╗██╔════╝██╔════╝██╔══██╗██╔══██╗██╔══██╗██╔══██╗██╔════╝██╔══██╗
             ██║██║   ██║██████╔╝███████╗██║     ██████╔╝███████║██████╔╝██████╔╝█████╗  ██████╔╝
        ██   ██║██║   ██║██╔══██╗╚════██║██║     ██╔══██╗██╔══██║██╔═══╝ ██╔═══╝ ██╔══╝  ██╔══██╗
        ╚█████╔╝╚██████╔╝██████╔╝███████║╚██████╗██║  ██║██║  ██║██║     ██║     ███████╗██║  ██║
         ╚════╝  ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝     ╚══════╝╚═╝  ╚═╝
    </pre>
    <form action="/search">
      <h3>Type PROGRAMMING LANGUAGE what you are looking for the job .</h3>
      <hr />
      <br />
      <hr />
      <input type="text" name="keyword" placeholder="Programming language" />
      <button>Search</button>
    </form>
  </body>
</html>
